<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chess Menu</title>
        <link rel="stylesheet" href="/menu.css" />
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    </head>
    <body>
        <header>Chess Game</header>
        <button class="pvp">Player VS Player</button>
        <button class="pve">Player VS Computer</button>
        <button class="online">Online</button>
        <script src="/menu.js"></script>
    </body>
</html>
